/* =========================
BACKGROUND
========================= */

.stApp {
    background: linear-gradient(
        135deg,
        #0f172a,
        #111827,
        #1e293b
    );
    color: white;
}

/* =========================
SIDEBAR
========================= */

section[data-testid="stSidebar"] {
    background: #0b1220;
    border-right: 1px solid #1f2937;
}

section[data-testid="stSidebar"] * {
    color: white;
}

/* =========================
TITLE
========================= */

.main-title {
    font-size: 52px;
    font-weight: bold;
    color: #4DA6FF;
    text-align: center;

    margin-top: 60px;
    margin-bottom: 10px;

    animation: fadeIn 1s ease-in-out;
}

/* =========================
SUB TITLE
========================= */

.sub-title {
    text-align: center;
    font-size: 22px;
    color: #d1d5db;
    margin-bottom: 40px;
}

/* =========================
CARD
========================= */

.card {
    background: rgba(255,255,255,0.05);

    padding: 25px;

    border-radius: 20px;

    border: 1px solid rgba(255,255,255,0.1);

    backdrop-filter: blur(12px);

    box-shadow:
        0 8px 32px rgba(0,0,0,0.3);

    transition: 0.3s;
}

.card:hover {

    transform: translateY(-5px);

    box-shadow:
        0 12px 32px rgba(77,166,255,0.3);
}

/* =========================
HEADINGS
========================= */

h1, h2, h3 {

    color: #5ab0ff;

    font-weight: bold;
}

/* =========================
TEXT
========================= */

p, li {

    font-size: 18px;

    line-height: 1.8;

    color: #e5e7eb;
}

/* =========================
BUTTON
========================= */

.stButton > button {

    background: linear-gradient(
        90deg,
        #2563eb,
        #3b82f6
    );

    color: white;

    border: none;

    border-radius: 12px;

    padding: 12px 25px;

    font-size: 16px;

    font-weight: bold;

    transition: 0.3s;
}

.stButton > button:hover {

    transform: scale(1.05);

    background: linear-gradient(
        90deg,
        #1d4ed8,
        #2563eb
    );
}

/* =========================
METRIC
========================= */

div[data-testid="metric-container"] {

    background: rgba(255,255,255,0.05);

    border-radius: 20px;

    padding: 20px;

    border: 1px solid rgba(255,255,255,0.1);

    box-shadow:
        0 5px 20px rgba(0,0,0,0.2);
}

/* =========================
SUCCESS BOX
========================= */

.stSuccess {

    border-radius: 15px;
}

/* =========================
INFO BOX
========================= */

.stInfo {

    border-radius: 15px;
}

/* =========================
ANIMATION
========================= */

@keyframes fadeIn {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}